$body-color: red;
$container-color: black;
$row-color:blue;
$col-color: green;
$gold-color: gold;

.obrazki{
  //border: 4px solid $col-color;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: auto;
  position: relative;
  visibility: visible;
}

.frame{
  &:hover{
    outline: 4px solid $gold-color;
    outline-offset: -4px;
    opacity: 0.6;
    cursor: pointer;
  }
}

.konon{
  //flex:50%;
  border: 4px solid $col-color;
  visibility: visible;

}

.major{
  //flex: 50%;
  border: 4px solid $col-color;
  visibility: visible;
}

img{
  width: 100%;
  height: 100%;
}

.wyskakuje{
  border: 4px solid $col-color;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 850px;
  height: 600px;
}

div.frame:nth-child(1){
  border-right: none;
}


