<div class="srodek">
  <div id='tlo' class="container obrazki">
    <div *let="let licznik = licznik;
     of: {
       licznik: licznik$ | async
     }" class="row g-0">
      <ng-container *ngIf="licznik !== 5; else siemaTemplate">
        <ng-container *ngIf="licznik % 2 === 0; else majorTemplate">
          <div class="col-lg konon frame">
            <img routerLink="/sign-in-login" [src]="krzycho" alt="">
          </div>
          <div class="col-lg major frame">
            <img routerLink="/krzysztof" [src]="major" alt="">
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #majorTemplate>
  <div class="col-lg konon frame">
    <img routerLink="/krzysztof" [src]="major" alt="">
  </div>
  <div class="col-lg major frame">
    <img routerLink="/tologin-dashboard" [src]="krzycho" alt="">
  </div>
</ng-template>

<ng-template #siemaTemplate>
  <div class="col-lg wyskakuje">
    <img [src]="siema" alt="">
  </div>
</ng-template>
