.panel{
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.panelGlowny{
  padding: 20px;
  height: 300px;
  width: 450px;
  background-color: white;
  border-radius: 15px;
}

.wymiarButtona{
  width: 140px;
  height: 38px;
  margin: 10px;
}
.odstep{
  margin-top: 50px;
}
