<nav class="navbar navbar-dark bg-dark he">
  <div class="container-fluid">
    <button class="navbar-toggler"
            type="button"
            id="trigger"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div [ngClass]="{'collapse position-absolute': true}" id="navbarToggleExternalContent">
  <div class="bg-light d-grid wid">
      <button type="button" class="btn btn-light fw-bold mybutton" (click)="toggleRoll()" routerLink="">Start</button>
      <button type="button" class="btn btn-light fw-bold mybutton" (click)="toggleRoll()" routerLink="/krzysztof">Konon</button>
      <button type="button" class="btn btn-light fw-bold mybutton" (click)="toggleRoll()" routerLink="/fufuwojtas">Major</button>
      <button type="button" class="btn btn-light fw-bold mybutton" (click)="toggleRoll()" routerLink="/niuchniuch">Kalkulator</button>
      <button type="button" class="btn btn-light fw-bold mybutton" (click)="toggleRoll()" routerLink="/listujpisma">Pisma</button>
  </div>
</div>

