.tlo-quizu{
  width: 400px;
  height: 270px;
  background-color: azure;
  border-radius: 25px;
  margin-top: 40px;
}
.podaj-uzytkownika{
  width: 350px;
  height: 150px;
  background-color: azure;
  border-radius: 25px;
  margin-top: 125px;
}

input[type="radio"] {
  margin-top: +6px;
  vertical-align: middle;
  height: 1.25em;
}

.btn-change{
  color: forestgreen;
}
.btn-default:not(.btn-change){
  color: red;
}
.przegrany{
  width: 400px;
  height: 270px;
  background-color: azure;
  border-radius: 25px;
  margin-top: 40px;
  opacity: 0.9;
}

