<div class="tlo-quizu">
  <div class="mt-2 fw-bold fs-4">
    Zgadnij rase piesełka
  </div>

  <form [formGroup]="formu" (ngSubmit)="submit()" *let="let dobraodp = dobraodp;
    of: {dobraodp: goodAnswerBreed$ | async}">

    <div class="mt-4 form-group" *let="let odp = odp; of: {odp: czteryodp$ | async};">
      <ng-container>
        <div *ngFor="let doge of odp; let i = index;">

          <label [ngClass]="{
          'row': true,
          'btn-change': (doge === dobraodp && dogSelected)
          }">

            <div class="col-3">
              <input type="radio" value="{{doge}}" name="gender" [readOnly]="dogSelected" formControlName="gender">
            </div>

            <div class="col-9 d-flex justify-content-start fw-bold fs-5" [ngClass] = "'odp-' + i">
              {{doge}}
            </div>

          </label>

        </div>
      </ng-container>
      <div *ngIf="f.gender.touched && f.gender.invalid" class="alert alert-danger">
      </div>
    </div>
    <button class="mt-4 btn btn-primary" type="submit" [disabled]="!formu.valid">Submit</button>
  </form>
</div>
<div class="fw-bold mt-3 fs-4">
wynik: {{liczdobre}}
</div>

<!--'btn-default': (doge === this.formu.get('gender')?.value && this.formu.get('gender')?.value != dobraodp && dogSelected )
dodac ewentualnie do zmiany zlej/zlych odp na czerwony kolor-->
