.tlo-quizu{
  width: 400px;
  height: 270px;
  background-color: azure;
  border-radius: 25px;
  margin-top: 40px;
}
input[type="radio"] {
  margin-top: +9px;
  vertical-align: middle;
  height: 1.25em;
}
