<p style="font-size: 20px; font-weight: bold">Kalkulator Borzy Spaniałych Wiadomosci<p>
<form [formGroup]="myForm" (ngSubmit)="submit()">
  <label for="ilosc">
    Podaj ilość rozpuszczalnika w litrach:
    <input id="ilosc" style="width: 90px" type="number" placeholder="required" [formControlName]="'iloscLitrow'" >
  </label>
  <br>
  <label for="rodzaj" style="margin-top: 10px">
    Podaj rodzaj rozpuszczalnika:
    <select [formControlName]="'rodzajRozpuszczalnika'" id="rodzaj" >
      <option *ngFor="let rodzaj of rodzaje" >{{rodzaj}}</option>
    </select>
  </label>
  <br>
  <button class="btn btn-primary" type="submit" style="margin-top: 14px">Policz oguem</button>
  <div>
    <table style="width: 300px">
      <tr>
        <th>Nr</th>
        <th>Ilość [L]</th>
        <th>Rodzaj</th>
        <th>Wynik</th>
      </tr>
      <tr *ngFor="let i of denaturatHistory">
        <th>{{i.nrpor}}</th>
        <th>{{i.ilosc}}</th>
        <th>{{i.rodzaj}}</th>
        <th>{{i.wynik}}</th>
      </tr>
    </table>
  </div>
</form>
