<div class="row">

  <div class="col-2 align-self-start">
<!--    <button class="kalkulatorowy btn-success shadow-none" routerLink="">Home</button><br>-->
  </div>

  <div class="col-8 fw-bold fs-4">
    Kalkulator Borzy Spaniałych Wiadomosci
  </div>

  <div class="col-2"></div>

</div>

<form [formGroup]="myForm" (ngSubmit)="submit()">
  <label class="mt-1" for="ilosc">
    Podaj ilość rozpuszczalnika w litrach:
    <input id="ilosc" style="width: 90px" type="number" min="0" placeholder="required" [formControlName]="'iloscLitrow'">
  </label>
  <br>
  <label for="rodzaj" style="margin-top: 10px">
    Podaj rodzaj rozpuszczalnika:
    <select [formControlName]="'rodzajRozpuszczalnika'" id="rodzaj" >
      <option *ngFor="let rodzaj of rodzaje" >{{rodzaj}}</option>
    </select>
  </label>
  <br>
  <button class="btn btn-primary" type="submit" style="margin-top: 14px">Policz oguem</button>
</form>
<div class="fw-bold fs-5 mt-2">
  Oguem spaniałych chwil: {{licznikChwil}}
</div>
<div class="container-fluid">
  <div class="row justify-content-start">
    <div class="col-md-2">
      <table style="width: 300px">
      <tr>
        <th>Nr</th>
        <th>Ilość [L]</th>
        <th>Rodzaj</th>
        <th>Wynik</th>
      </tr>
      <tr *ngFor="let i of denaturatHistory">
        <th>{{i.nrpor}}</th>
        <th>{{i.ilosc}}</th>
        <th>{{i.rodzaj}}</th>
        <th>{{i.wynik}}</th>
      </tr>
      </table>
    </div>

    <ng-container *ngIf="showPic; else smutekTemplate">
      <div class="col-md-8"><!--*ngIf="showPic"-->
        <img class="border border-4 rounded border-primary mt-5" src="./assets/nitro.jpg">
      </div>
    </ng-container>

    <div class="col-md-2">
    </div>
  </div>
</div>

<ng-template #smutekTemplate>
  <ng-container *ngIf="denaturatHistory.length > 0">
    <div class="col-8">
      <img class="border border-4 rounded border-primary mt-5" src="./assets/zamalo.jpg">
    </div>
  </ng-container>
</ng-template>

