.game{
  width: 85%;
  min-height: 650px;
  margin-top: 10px;
  background-color: white;
  border: solid black 4px;
}
.wysrodkujgowno{
  display: flex;
  justify-content: center;
}
.button-width{
  width: 64px;
}
