<div>
  <div class="row">

    <div class="col-10">

      <table class="table table-hover table-light table-bordered border-dark">

        <thead>
          <tr>
            <th class="col-1">#</th>
            <th class="col-1">Name</th>
            <th class="col-1">Score</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let y = index; let gracz of myData$ | async">
            <td class="col-1">{{y + 1}}</td>
            <td class="col-1">{{gracz.name}}</td>
            <td class="col-1">{{gracz.score}}</td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="col-2">

      <table class="table" *ngIf="kliknietoEdytuj">

        <thead>
        <tr>
          <th class="col-1 no-border">&nbsp;</th>
        </tr>
        </thead>

        <tbody>
          <tr *ngFor="let z = index of myData$ | async">
            <td class="col-1 no-border">
              <button class="btn btn-danger btn-xs kolorIksa" (click)="usunRekord(z)">x</button>
            </td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>
</div>

<div>
  <button class="btn btn-primary shadow-none float-start" (click)="edytujClikc()">Edytuj</button>
</div>
