table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 350px;
  border-radius: 15px;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  border-radius: 15px;
  padding: 8px;
}
