<ng-container>
  <div class="srodkowa" *ngIf="(scierzka$ | async); else brakTemplate">
    <div class="obrazekpieska mt-3 border border-success">
          <img [src]="(scierzka$ | async)"/>
          <button class="przycisk btn-success shadow-none" (click)="nextPieselek()">Kolejny Piesełek</button>
          <div>
            to jest rasa {{rasa$ | async}}
          </div>
    </div>
  </div>
</ng-container>

<ng-template #brakTemplate>
  <div class="margino">
    <button class="przycisk btn-success shadow-none btn-lg" (click)="nextPieselek()">Przerwa</button>
  </div>
</ng-template>
