//@import './app/overwrites/bootstrap/mixins';
@import '~bootstrap/scss/bootstrap';

$background-color: red;

body{
  background-color: $background-color;
}

.navbar-toggler{
  height: 25px;
  width: 35px;
  padding: 0;
  margin: 0;
}
.navbar-toggler-icon{
  height: 20px;
  width: 32px;
  padding: 0;
  margin: 0;
  opacity: 100%;
}

