.pozew{
  width: 100%;
  min-height: 90vh;
  margin-top: 10px;
  background-color: white;
  border-radius: 15px;
}

.input-height{
  min-height: 360px;
}

.rozmiar{
  width: 400px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
}
section{
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

section .box{
  position: absolute;
  width: 400px;
  min-height: 250px;
  padding: 50px 50px 0px 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  overflow: hidden;
  color: #000;
  border: 2px solid dodgerblue;
  border-radius: 15px;
  margin-top: 300px;
}
section .box:before{
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: rgba(250, 250, 250, 0.9);
}

section .box h2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 0;
  text-transform: uppercase;
  z-index: 2;
}

section .box img{
  position: relative;
  margin-top: 5px;
  max-height: 35px;
  max-width: 35px;
}

section .box p{
  position: relative;
  margin: 0;
  font-size: 18px;
  padding: 0;
  text-transform: uppercase;
  z-index: 2;
}

input.ng-invalid.ng-touched {
  border: 1.5px solid red;
}
input.ng-valid{
  border: 1.5px solid green;
}
.error{
  color: red;
}

