<ng-container>

  <div class="rozmiar position-absolute" *ngIf="zlozonoPismo">
  </div>
  <h2 class="position-absolute" *ngIf="zlozonoPismo">SIEMA</h2>


  <div [ngClass]="{'pozew p-4': true, 'blur': zlozonoPismo}">
    <div>
      <div class="row">
        <div class="col-12">
          <h2>Dodaj Zgłoszenie</h2>
        </div>
      </div>
      <form [formGroup]="pozewFormularz" (ngSubmit)="wyslijPozew()">

        <div class="row ms-2">

          <div class="col-3">
            <div class="form-group float-end">
              <label for="imieiNazwisko" class="float-start">Imie i Nazwisko</label>
              <input type="text"
                     id="imieiNazwisko"
                     aria-describedby="emailHelp"
                     placeholder="Imie i Nazwisko"
                     class="form-control"
                     [ngClass]="(pozewFormularz.get('autor')?.touched ||
                     pozewFormularz.get('autor')?.dirty) &&
                     pozewFormularz.get('autor')?.errors ? 'is-invalid' : '' "
                     [formControlName]="'autor'">
              <div class="invalid-feedback">Uzupełnij pole!</div>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label for="rodzajpisma" class="float-start">Rodzaj pisma</label>
              <select [formControlName]="'rodzajPismaform'" class="form-select" id="rodzajpisma">
                <option *ngFor="let rodzaj of rodzajPisma">{{rodzaj}}</option>
              </select>
            </div>
          </div>

          <div class="col-6">
          </div>

        </div>

        <div class="row ms-2 mt-2">

          <div class="col-6">
            <div class="form-group">
              <label for="adresat" class="float-start">Instytucja/Adresat</label>
              <select [formControlName]="'adresat'" class="form-select" id="adresat">
                <option *ngFor="let adresat of adresatPisma">{{adresat}}</option>
              </select>
            </div>
          </div>

          <div class="col-6"></div>
        </div>

        <div class="row ms-2 mt-3">
          <div class="col-6">
            <div class="form-group">
              <label for="temat" class="float-start">Temat</label>
              <input type="text" class="form-control" id="temat"
                     aria-describedby="emailHelp" placeholder="Temat Sprawy"
                     [formControlName]="'sprawaTemat'">
            </div>
          </div>
        </div>

        <div class="row ms-2 mt-3">

          <div class="col-12">
            <div class="form-group">
              <label for="opisSprawy" class="float-start">Opis Sprawy</label>
              <textarea type="text-area" class="form-control input-height" id="opisSprawy" aria-describedby="emailHelp" placeholder="" [formControlName]="'opis'"></textarea>
              <small id="help2" class="form-text text-muted float-start">Dokonaj dokładnego opisu bieżącej sprway</small>
            </div>
          </div>

        </div>

        <div class="row ms-2 mt-5">
          <div class="col-11"></div>
          <div class="col-1">
            <button class="btn btn-primary float-end" type="submit" [disabled]="pozewFormularz.invalid">Wyślij</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</ng-container>

