<ng-container>

  <section *ngIf="zlozonoPismo">
    <div class="box">
      <h2>Twoje zgłoszenie zostało zapisane</h2>
      <img [src]="icon" alt=""/>
    </div>
  </section>

  <div [ngClass]="{'pozew p-4': true, 'blur': zlozonoPismo}">
    <div>
      <div class="row">
        <div class="col-12">
          <h2>Dodaj Zgłoszenie</h2>
        </div>
      </div>
      <form class="needs-validation" [formGroup]="pozewFormularz" (ngSubmit)="wyslijPozew()" novalidate>

        <div class="row ms-2">

          <div class="col-3">
            <div class="form-group float-end">
              <label for="imieiNazwisko" class="form-label float-start">Imie i Nazwisko</label>
              <input type="text"
                     id="imieiNazwisko"
                     aria-describedby="emailHelp"
                     placeholder="Imie i Nazwisko"
                     class="form-control"
                     formControlName="autor"
                     [ngClass]="{'is-invalid': autor?.invalid && (autor?.dirty || autor?.touched), 'is-valid': autor?.valid}"
                     required>
              <div *ngIf="autor?.invalid && (autor?.dirty || autor?.touched)">
                <div class="error" *ngIf="autor?.errors?.required">
                  <small>Uzupełnij pole!</small>
                </div>
                <div class="error" *ngIf="autor?.errors?.pattern">
                  <small>Wprowadź imię oraz nazwisko oddzielone spacją</small>
                </div>
              </div>

            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label for="rodzajpisma" class="form-label float-start">Rodzaj pisma</label>
              <select [formControlName]="'rodzajPismaform'" class="form-select" id="rodzajpisma">
                <option *ngFor="let rodzaj of rodzajPisma">{{rodzaj}}</option>
              </select>
            </div>
          </div>

          <div class="col-6">
          </div>

        </div>

        <div class="row ms-2 mt-2">

          <div class="col-6">
            <div class="form-group">
              <label for="adresat" class="form-label float-start">Instytucja/Adresat</label>
              <select [formControlName]="'adresat'" class="form-select" id="adresat">
                <option *ngFor="let adresat of adresatPisma">{{adresat}}</option>
              </select>
            </div>
          </div>

          <div class="col-6"></div>
        </div>

        <div class="row ms-2 mt-3">
          <div class="col-6">
            <div class="form-group">
              <label for="temat" class="form-label float-start">Temat</label>
              <input type="text" class="form-control" id="temat"
                     aria-describedby="emailHelp" placeholder="Temat Sprawy"
                     [formControlName]="'sprawaTemat'"
                     [ngClass]="{'is-invalid': temat?.invalid && (temat?.dirty || temat?.touched), 'is-valid': temat?.valid}"
                     required>
              <div *ngIf="temat?.invalid && (temat?.dirty || temat?.touched)">
                <div class="error" *ngIf="temat?.errors?.required">
                  <small>Uzupełnij pole!</small>
                </div>
                <div class="error" *ngIf="temat?.errors?.pattern">
                  <small>Wprowadź imię oraz nazwisko oddzielone spacją</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row ms-2 mt-3">

          <div class="col-12">
            <div class="form-group">
              <label for="opisSprawy" class="form-label float-start">Opis Sprawy</label>
              <textarea type="text-area" class="form-control input-height"
                        id="opisSprawy" aria-describedby="emailHelp"
                        placeholder="" [formControlName]="'opis'"
                        required
                        [ngClass]="{'is-invalid': opis?.invalid && (opis?.dirty || opis?.touched)}">
              </textarea>
            </div>
          </div>

        </div>

        <div class="row ms-2 mt-5">
          <div class="col-11"></div>
          <div class="col-1">
            <button class="btn btn-primary float-end" type="submit" [disabled]="pozewFormularz.invalid">Wyślij</button>
          </div>
        </div>

      </form>

    </div>
  </div>
</ng-container>

